.slide-text {
  text-align: center;
  display: inline-block;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.slide-in {
  opacity: 1;
  transform: translateX(0);
}

.slide-out {
  opacity: 0;
  transform: translateX(50px);
}
